<%= form_with(model: record, local: true) do |form| %>
  <% if record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :meal_id %>
    <%= form.text_field :meal_id, id: :record_meal_id %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time, id: :record_time %>
  </div>

  <div class="field">
    <%= form.label :left %>
    <%= form.number_field :left, id: :record_left %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
