<%= form_with(model: meal, local: true) do |form| %>
  <% if meal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>

      <ul>
      <% meal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label '日付' %>
    <%= form.date_select :date, id: :meal_date %>
  </div>

  <div class="field">
    <label><%= form.radio_button :time_zone_num, Constants::BREAKFIRST_NUM %>朝食</label>
    <label><%= form.radio_button :time_zone_num, Constants::LUNCH_NUM %>昼食</label>
    <label><%= form.radio_button :time_zone_num, Constants::DINNER_NUM %>夕食</label>
  </div>

  <div class="field">
    <%= form.label 'メニュー' %>
    <%= form.text_field :menu, id: :meal_menu %>
  </div>

  <div class="field">
    <%= form.label '売り切れ' %>
    <%= form.check_box :soldout, id: :meal_soldout %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
