<p id="notice"><%= notice %></p>

<p>
  <strong>日付:</strong>
  <%= @meal.date %>
</p>

<p>
  <strong>時間帯:</strong>
  <% case @meal.time_zone_num %>
  <% when Constants::BREAKFIRST_NUM then %>
  朝食
  <% when Constants::LUNCH_NUM then %>
  昼食
  <% when Constants::DINNER_NUM then %>
  夕食
  <% end %>
</p>

<p>
  <strong>メニュー:</strong>
  <%= @meal.menu %>
</p>

<p>
  <strong>橙食券価格:</strong>
  <%= @meal.multi_ticket_price %>
</p>

<p>
  <strong>単食券価格:</strong>
  <%= @meal.single_ticket_price %>
</p>

<p>
  <strong>売り切れ:</strong>
  <% if @meal.soldout %>
  ◯
  <% else %>
  ×
  <% end %>
</p>

<%= link_to '編集', edit_meal_path(@meal) %> |
<%= link_to 'トップ', { controller: :meals, action: :top } %>
